.button{
    position: relative;
    width: 240px;
    height: 65px;
    background-color: #1D2C6A;
    border-radius: 10px;
    text-align: center;
    padding-top: 0px;
    font-weight: 700;
    font-size: large;
    margin: 20px;
    margin-top: 20px;
    color: #2EF2FF;
}


.button:hover{
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
     border-bottom-left-radius: 15px;
     border-bottom-right-radius: 15px;
     border-inline-end-color: rgb(171, 193, 145);
     border-top-color:rgb(117, 96, 40) ;
    border-bottom-color: rgb(103, 170, 125);
    border-width: 3PX;
    background-color: #0f1849;
    box-shadow: 0px 0px 15px rgb(153, 153, 173);
    transition-duration: 0.6s;
}
.side{
    position: absolute;
    top: 15px;
    left:-7px;
}

.zora{
    position: absolute;
    top: 10px;
    left: 13px;
    width: 40px;
    text-align: right;
    margin-bottom: 80%;

}